/* =================== base =================== */
html,
body,
a,
address,
article,
aside,
audio,
b,
button,
colgroup,
dd,
del,
div,
dl,
dt,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
head,
header,
hgroup,
i,
input,
ins,
kbd,
keygen,
label,
legend,
li,
main,
nav,
ol,
optgroup,
option,
p,
picture,
progress,
s,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
title,
tr,
u,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "pretendard", sans-serif;
  letter-spacing: -0.04em;
  word-break: break-all;
  color: color(text);
  stroke-width: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;

  text: {
    decoration: none;
  }

  color: color(text);
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

select {
  padding: 5px 10px;
}
