/* =================== helper =================== */
// 노출되지 않을 영역
.is-none {
  display: none;
}

// 보이진 않지만 리딩되는 영역
.voice-only {
  @include absolute($l: -9999rem);

  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}
