/* =================== common =================== */
#page {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #fafafa;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
}

.l-center {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}

.page_ttl {
  font-size: rem(24);
  font-weight: 600;
  color: #333;
}

.game_board {
  width: 100%;
  margin-top: 20px;
  background-color: white;
}

.card {
  width: 200px;
  height: 320px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.coin {
  @include flex-center;
  @include circle(80px);
  @include bg-op;
  @include bg-url(img, "bg_coin.png");

  border: 1px solid #ddd;
  // background-color: rgb(165, 162, 13);
  // box-shadow: 0 1px 0 #000, 1px 2px 0 #000, 2px 3px 0 #000, 3px 3px 0 #000,
  //   3px 4px 0 #000, 3px 5px 0 #000;
  font-size: rem(20);
  font-weight: 600;
}

.red {
  color: color(red);
}

.blue {
  color: color(blue);
}

.white {
  color: #f9f9f9;
}

.black {
  color: color(black);
}

.green {
  color: color(green);
}

.gold {
  color: color(gold);
}
