/* =================== header =================== */
.pk-header {
  @include fixed($t: 0, $l: 50%);

  max-width: $ct-width;
  transform: translateX(-50%);

  z-index: 20;
  width: 100%;
  height: 50px;
  background-color: white;
  color: color(text);

  .header-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .btn-back {
      position: absolute;
      left: 0;
      top: 0;
    }

    .hd-ttl {
      font-size: rem(18);
      font-weight: 500;
    }
  }

  &.type1 {
    .btn-back {
      display: none !important;
    }
  }
}

// gnb
.pk-gnb {
  @include fixed($b: 0, $l: 50%);
  
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border: 1px solid #d2d6da;
  border-bottom: none;
  border-radius: 23px 23px 0 0;
  background-color: white;
  transform: translateX(-50%);

  // @include notch {
  //   padding-bottom: 40px;
  // }

  .gnb-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 25%;
    height: 60px;
    font-size: rem(12);
    color: #353c49;
    font-weight: 500;
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }
}
