/* =================== header =================== */
.pk-header {
  @include fixed($t: 0, $l: 50%);

  max-width: 500px;
  transform: translateX(-50%);

  &.type1 {
    .hd-ttl {
      display: none !important;
    }

    .btn-alert {
      display: none !important;
    }

    .btn-edit-grp {
      display: none !important;
    }
  }

  &.type2 {
    .hd-logo {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    .hd-ttl {
      display: none !important;
    }

    .btn-edit-grp {
      display: none !important;
    }

    .btn-back {
      display: none !important;
    }
  }

  &.type3 {
    .hd-logo {
      display: none !important;
    }

    .hd-ttl {
      display: none !important;
    }

    .btn-alert {
      display: none !important;
    }

    .btn-edit-grp {
      display: none !important;
    }
  }

  &.type4 {
    .hd-logo {
      display: none !important;
    }

    .hd-ttl {
      display: none !important;
    }

    .btn-alert {
      display: none !important;
    }
  }

  &.type5 {
    .hd-logo {
      display: none !important;
    }

    .btn-alert {
      display: none !important;
    }

    .btn-edit-grp {
      display: none !important;
    }
  }

  &.type6 {
    background-color: transparent;

    .hd-logo {
      display: none !important;
    }

    .hd-ttl {
      display: none !important;
    }

    .btn-alert {
      display: none !important;
    }

    .btn-edit-grp {
      display: none !important;
    }

    ~ .page-container {
      padding-top: 0;
    }
  }

  z-index: 20;
  width: 100%;
  height: 50px;
  background-color: white;
  color: color(text);

  .header-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .btn-back {
      position: absolute;
      left: 0;
      top: 0;
    }

    .btn-alert {
      position: absolute;
      left: auto;
      right: 5px;
      top: 0;

      &.is-new {
        &::after {
          display: inline-block;
        }
      }

      &::after {
        content: "";
        display: none;
        position: absolute;
        left: auto;
        right: 14px;
        top: 12px;
        width: 7px;
        height: 7px;
        background-color: color(main);
        border-radius: 50%;
        border: 1px solid #fff;
      }
    }

    .btn-edit-grp {
      position: absolute;
      left: auto;
      right: 10px;
      top: 0;
      display: flex;
      align-items: center;

      .btn-hd-icon {
        width: 40px;
      }
    }

    .hd-ttl {
      font-size: rem(18);
      font-weight: 500;
    }
  }

  .hd-logo {
    width: 158px;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .logo-img {
      object-fit: contain;
      width: 100%;
    }
  }
}

// gnb
.pk-gnb {
  @include fixed($b: 0, $l: 50%);
  
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border: 1px solid #d2d6da;
  border-bottom: none;
  border-radius: 23px 23px 0 0;
  background-color: white;
  transform: translateX(-50%);

  // @include notch {
  //   padding-bottom: 40px;
  // }

  .gnb-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 25%;
    height: 60px;
    font-size: rem(12);
    color: #353c49;
    font-weight: 500;
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }
}
