/* =================== base =================== */
html,
body,
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
button,
canvas,
caption,
center,
circle,
cite,
clipPath,
code,
col,
colgroup,
cursor,
data,
datalist,
dd,
defs,
del,
desc,
details,
dfn,
dialog,
div,
dl,
dt,
ellipse,
em,
embed,
fieldset,
figcaption,
figure,
filter,
footer,
foreignObject,
form,
g,
h1,
h2,
h3,
h4,
h5,
h6,
hatch,
hatchpath,
head,
header,
hgroup,
i,
iframe,
image,
img,
input,
ins,
kbd,
keygen,
label,
legend,
li,
line,
link,
main,
map,
mark,
marker,
mask,
menu,
menuitem,
mesh,
meshpatch,
meshrow,
nav,
object,
ol,
optgroup,
option,
output,
p,
param,
path,
pattern,
picture,
pre,
progress,
q,
rb,
rect,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
set,
small,
source,
span,
strike,
strong,
sub,
summary,
svg,
symbol,
sup,
table,
tbody,
td,
template,
text,
textarea,
textPath,
tfoot,
th,
thead,
time,
title,
tr,
tspan,
u,
ul,
use,
video,
view,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "noto", sans-serif;
  letter-spacing: -0.04em;
  word-break: break-all;
}

html,
body,
a,
address,
article,
aside,
b,
button,
dd,
div,
dl,
dt,
figcaption,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
ins,
label,
legend,
li,
main,
menu,
menuitem,
nav,
ol,
optgroup,
option,
output,
p,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
tspan,
u,
ul {
  stroke-width: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

select {
  padding: 5px 10px;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =================== fonts =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 600;
  src: url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 500;
  src: url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 400;
  src: url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 300;
  src: url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 200;
  src: url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 100;
  src: url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype");
}

/* =================== helper =================== */
.none {
  display: none;
}

.voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  font-size: 0;
}

.tab-show {
  display: none;
}

@media all and (max-width: 900px) {
  .tab-show {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .tab-hide {
    display: none;
  }
}

.mb-show {
  display: none;
}

@media all and (max-width: 600px) {
  .mb-show {
    display: block;
  }
}

@media all and (max-width: 600px) {
  .mb-hide {
    display: none;
  }
}

.sm-show {
  display: none;
}

@media all and (max-width: 360px) {
  .sm-show {
    display: block;
  }
}

@media all and (max-width: 360px) {
  .sm-hide {
    display: none;
  }
}

.xsm-show {
  display: none;
}

@media all and (max-width: 320px) {
  .xsm-show {
    display: block;
  }
}

@media all and (max-width: 320px) {
  .xsm-hide {
    display: none;
  }
}

/* =================== common =================== */
#page {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
}

.l-center {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}

.page_ttl {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.game_board {
  width: 100%;
  margin-top: 20px;
  background-color: white;
}

.card {
  width: 200px;
  height: 320px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../images/img/bg_coin.png");
  border: 1px solid #ddd;
  font-size: 1.25rem;
  font-weight: 600;
}

.red {
  color: #fd2422;
}

.blue {
  color: #2c5dc8;
}

.white {
  color: #f9f9f9;
}

.black {
  color: #201d20;
}

.green {
  color: #018b55;
}

.gold {
  color: #ffd700;
}

/* =================== main =================== */
.board-ttl {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.room-list-wrap {
  padding: 10px;
  background-color: #f9f9f9;
}

.room-list {
  margin: 10px 0;
  background-color: white;
}

.room-list:first-child {
  border-top: 0 none;
}

.room-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.room-list .link:hover, .room-list .link:focus {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/* =================== splander =================== */
