/* =================== main =================== */
// main title
.board_ttl {
  margin-bottom: 20px;
  font-size: rem(24);
  font-weight: 600;
  text-align: center;
}

// main board
.room_list_wrap {
  padding: 10px;
  background-color: #f9f9f9;
}

.room_list {
  margin: 10px 0;
  background-color: white;

  &:first-child {
    border-top: 0 none;
  }

  .link {
    @include flex {
      @include flex-side;
    }

    padding: 15px 10px;
    transition: all 0.3s;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}
